@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Chivo';
    overflow-x: hidden;
    background: #1c1c1c;
    background-image: url(./shapes.png);
    background-size: cover;
    background-repeat: repeat-y;
    
}

@layer components  {
    .input-field {
        @apply mt-5 bg-grey py-3 px-5 outline-none rounded-md placeholder:text-lightgrey 
    }
}